<!-- open_manipulator_rviz.launch -->
<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find open_manipulator_description)/urdf/open_manipulator_robot.urdf.xacro" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find open_manipulator_description)/rviz/open_manipulator.rviz" required="true"/>
</launch>
